body {
    background: pink;
    background: url('img/baby1.jpg')no-repeat center center/cover;
}


#sign-up {
    max-width: 400px;
    margin-top: 100px !important;
    margin: 0 auto;
}

#forma {
    background: #bee5eb;
}
.table {
    font-size: 22px;
}

#inp {
    font-size: large;
}

#logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0.7;
    border: 2px solid black;
}

#main-footer {
    background: #ffeeba;
}


/**************/ 
.countdown {
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.countdown div {
  padding: 45px;
  border: 1px #fff solid;
  border-radius: 10px;
  background: #ffeeba;
  opacity: 0.7;
  margin: 5px;
}

.countdown div:first-child {
  background: #bee5eb;
}

.countdown span {

  font-size: 25px;
} 

/* IPAD PRO */
@media(max-width: 1200px){
    .countdown {
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      
      .countdown div {
        padding: 20px;
        border: 1px #fff solid;
        border-radius: 10px;
        background: #ffeeba;
        opacity: 0.7;
        margin: 5px;
      }
      
      .countdown div:first-child {
        background: #bee5eb;
      }
      
      .countdown span {
      
        font-size: 25px;
      } 
}

/* IPAD PRO */
@media(max-width: 992px){
  .countdown {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .countdown div {
    padding: 16px;
    border: 1px #fff solid;
    border-radius: 10px;
    background: #ffeeba;
    opacity: 0.7;
    margin: 5px;
  }
  
  .countdown div:first-child {
    background: #bee5eb;
  }
  
  .countdown span {
  
    font-size: 25px;
  } 

  #logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0.7;
    border: 2px solid black;
    margin-left: 120px;
    margin-bottom: 20px;
    margin: 0 auto;
}
}



/* Ihone landscape */
@media(max-width: 830px){
.countdown {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .countdown div {
    padding: 16px;
    border: 1px #fff solid;
    border-radius: 10px;
    background: #ffeeba;
    opacity: 0.7;
    margin: 5px;
  }
  
  .countdown div:first-child {
    background: #bee5eb;
  }
  
  .countdown span {
  
    font-size: 25px;
  } 

  #logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0.7;
    border: 2px solid black;
    margin-left: 120px;
    margin-bottom: 20px;
    margin: 0 auto;
}
}

/* Iphone */

@media(max-width: 768px){
    #logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        opacity: 0.7;
        border: 2px solid black;
        margin-left: 120px;
        margin-bottom: 20px;
        margin: 0 auto;
    }
    .countdown {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      
      .countdown div {
        padding: 10px;
        border: 1px #fff solid;
        border-radius: 10px;
        background: #ffeeba;
        opacity: 0.7;
        margin: 5px;
      }
      
      .countdown div:first-child {
        background: #bee5eb;
      }
      
      .countdown span {
      
        font-size: 15px;
      } 


}


@media(max-width: 540px){
  #logo {
    display: none;
  }
  .landing-inner {
   margin: 0 auto;
  }
}

